<a href="mailto:olmoscodes@gmail.com">
    <div class="notice-container">
        <div class="n1 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n2 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n3 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n4 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n5 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n6 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n7 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n8 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n9 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
        <div class="n10 notice-message">
            <span class="msg1">CLICK HERE TO CONTACT US</span>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="msg2">Start something together</span>
        </div>
    </div>
</a>
