.notice-message {
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 574px;

    fa-icon {
        color: white;
    }

    .msg2 {
        font-family: 'Inter-ExtraLight';
    }
}

