.navbar-container {
    position: fixed;
    top: 0px;
    height: 70px;
    width: calc(100vw - 100px);
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 450px) {
        width: calc(100vw - 40px);
        padding: 0 20px;
    }

    .hamburger-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 21px;
        width: 32px;
        position: relative;

        .line {
            height: 3px;
            border-radius: 20px;
            background-color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }


}

.notice {
    top: 50px;
}