app-notice {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

app-cookies-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: red;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2;
}

app-intro {
    position: fixed;
    z-index: 3;
    background-color: black;
    height: 100%;
    width: 100%;
}

app-home {
    display: flex;
    flex-direction: column;
}

// Temporal under construction in PRODUCTION (master)

@media (max-width: 450px) {
    .under-construction {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        color: white;
        background-color: rgba(255, 255, 255, 0.1411764706);
        bottom: 25px;
        left: 25px;
        padding: 20px 0;
        width: calc(100% - 40px);
        border-radius: 33px;
        font-size: 17px;
    }
}

@media (min-width: 450px) {
    .under-construction {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        color: white;
        background-color: rgba(255, 255, 255, 0.1411764706);
        bottom: 25px;
        left: 25px;
        padding: 20px 40px;
        max-width: calc(100% - 40px);
        border-radius: 33px;
        font-size: 17px;
    }
}

