// Temporal under construction in PRODUCTION (master)

.under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.448);
    height: 100%;
    width: 100vw;
    backdrop-filter: blur(6px);
    color: white;
    font-size: 19px;
    top: 0;
}