.cookies-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 500px;
    padding: 30px 0;
    border-radius: 20px;

    @media (max-width: 400px) {
        width: 85vw;
    }

    .max-width {
        width: calc(100% - 50px)
    }

    .title {
        font-family: 'Inter-Bold';
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content {
        font-family: 'Inter-Regular';
        margin-bottom: 20px;

        span {
            font-family: 'Inter-Bold';
            text-decoration: underline;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        button {
            height: 45px;
            width: 47%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            border-radius: 7px;
            font-size: 16px;

            &:hover {
                cursor: pointer;
            }
        }

        .accept {
            background-color: black;
            color: white;
        }

        .decline {
            background-color: #E7E7E7;
            color: black;
        }
    }

    .logo-container {
        position: absolute;
        right: 20px;
        top: 20px;

        .o {
            border-color: black;
        }

        .dot {
            background-color: black;
        }
    }
}