<div class="cookies-box">
    <div class="title max-width">Cookies Policy </div>
    <div class="content max-width">
        We use our own cookies, as well as those of third parties,
        for individual as well as repeated sessions, in order to
        make the navigation of our website easy and safe for our users.
        <br><br>
        In turn, we use cookies to measure and obtain statistical data
        about the navigation of the users. You can accept the use of
        the cookies or not.
        <br><br>
        You can read more information about our <span>Cookie Policy</span>.
    </div>
    <div class="buttons max-width">
        <button class="accept" (click)="acceptCookies()">Accept</button>
        <button class="decline" (click)="declineCookies()">Decline</button>
    </div>
    <div class="logo-container">
        <div class="o-cookie o">
            <div class="mc1 mini-choc"></div>
            <div class="mc2 mini-choc"></div>
            <div class="mc3 mini-choc"></div>
            <div class="mc4 mini-choc"></div>
            <div class="mc5 mini-choc"></div>
            <div class="mc6 mini-choc"></div>
            <div class="bite1"></div>
            <div class="bite2"></div>
            <div class="bite3"></div>
        </div>
        <div class="dot-cookie dot"></div>
    </div>
</div>