.cookies-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 500px;
    padding: 30px 0;
    border-radius: 20px;

    @media (max-width: 400px) {
        width: 85vw;
    }

    .max-width {
        width: calc(100% - 50px)
    }

    .title {
        font-family: 'Inter-Bold';
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content {
        font-family: 'Inter-Regular';
        margin-bottom: 20px;

        span {
            font-family: 'Inter-Bold';
            text-decoration: underline;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        button {
            height: 45px;
            width: 47%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            border-radius: 7px;
            font-size: 16px;

            &:hover {
                cursor: pointer;
            }
        }

        .accept {
            background-color: black;
            color: white;
        }

        .decline {
            background-color: #E7E7E7;
            color: black;
        }
    }

    .logo-container {
        position: absolute;
        right: 20px;
        top: 20px;

        .o {
            border-color: black;
        }

        .dot {
            background-color: black;
        }

        .mini-choc {
            position: absolute;
            background: white;
            border-radius: 100%;
            opacity: 0;
        }

        .mc1 {
            height: 2px;
            width: 2px;
            top: 6px;
            left: 9px;
        }

        .mc2 {
            height: 3px;
            width: 3px;
            top: 10px;
            left: 6px;
        }

        .mc3 {
            height: 2px;
            width: 2px;
            top: 11px;
            left: 12px;
        }

        .mc4 {
            height: 2px;
            width: 2px;
            top: 15px;
            left: 8px;
        }

        .mc5 {
            height: 2.5px;
            width: 2.5px;
            top: 16px;
            left: 13px;
        }

        .mc6 {
            height: 3px;
            width: 3px;
            top: 10px;
            left: 6px;
        }

        .bite1 {
            position: absolute;
            background: white;
            height: 6px;
            width: 6px;
            border-radius: 100%;
            top: 0px;
            left: 13px;
            opacity: 0;
        }

        .bite2 {
            position: absolute;
            background: white;
            height: 6px;
            width: 6px;
            border-radius: 100%;
            top: 4px;
            left: 16px;
            opacity: 0;
        }

        .bite3 {
            position: absolute;
            background: white;
            height: 6px;
            width: 6px;
            border-radius: 100%;
            top: 7px;
            left: 19px;
            opacity: 0;
        }
    }
}